 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 .fundo{
    background-color: blue;
    width: 660px;
    margin: 50px auto;
    padding: 5PX;
 }
.flex{
    display: flex;
}

.amarelo{
    padding: 80px;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
    background-image: url("https://gifdb.com/images/high/neymar-jr-football-funny-bleh-nhv3dmvzp0mhzyyg.gif"); 
    color: white;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}

.esticar{
    padding-right: 270px;
}

.alongar{
    padding-bottom: 270px;
}